@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Quicksand:wght@500&display=swap');

:root {
	--bgImg: black;
	--randRot: 0deg;
}

* {
	font-family: 'Quicksand', sans-serif;
}

body {
	overflow: hidden;
}

#blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	max-width: 35%;
	max-height: 55%;
	scale: 290% 185%;
	transform-origin: left top;
	filter: saturate(2.5) brightness(0.65);
}

.gPic {
	background: var(--bgImg);
	/* This is to align our img element */
	position: absolute;
	width: 200%;
	aspect-ratio: 1 / 1;
	animation: rotate 35s linear infinite;

	/* Align our image to the center of our div */
	/*img, canvas {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
		}*/

	filter: blur(40px);
	-webkit-filter: blur(40px);
	-moz-filter: blur(40px);
	-o-filter: blur(40px);
	-ms-filter: blur(40px);
	border-radius: 100em;
}

/*/ The primary image which gives the blending effect it's illusional property*/
#color {
	right: 0;
	top: 0;
	z-index: 10;

	/*mix-blend-mode: soft-light;*/
}

/*/ Additional image to cover space that the primary image doesn't cover (and to develop blob-blending)*/
#back {
	left: 0;
	bottom: 0;
	z-index: 1;
	animation-direction: reverse;
}

/*/ Final image to cover the center*/
#back-center {
	z-index: 0;

	width: 300%;
	right: -50%;
	top: -20%;

	animation-direction: reverse;
}


@keyframes rotate {
	from {
		transform: rotate(var(--randRot));
	}
	to {
		transform: rotate(calc(var(--randRot) + 360deg));
	}
}

* {
	margin: 0;
	padding: 0;
}

.blur {
	z-index: 99;
	backdrop-filter: blur(8px) saturate(180%);
	-webkit-backdrop-filter: blur(8px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

.sBlur {
	background-color: rgba(17, 25, 40, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

::placeholder {
	color: #bababa;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
	width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(17, 25, 40, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-clip: content-box;
	border-radius:12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
	transition: 0.25s;
}

button:hover {
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.75);
}

* {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}